    <title><%= name %> Blogs</title>
<%- include("start") -%>
<%- include("navigationBefore") -%>

<link rel="stylesheet" type="text/css" href="/css/myCreation.css">
<link rel="stylesheet" type="text/css" href="/css/common.css">
<div class="myCreation"><h1 style="font-family: 'Times New Roman', Times, serif;">Category : <%= name %></h1><hr></div>

<% if(blogs.length != 0){  %>
    <%for(var i=0;i<blogs.length;i++){%>
        <div class="flex-container2" style = "background-image: linear-gradient(to top, #7028e4 0%, #e5b2ca 100%);">   
            <div class="content1">
                <em style="font-weight: bolder;"><%= blogs[i].title%></em>
                    <p><%=blogs[i].blogContent.substring(0, 500) + " ..."%></p>
                <a href="/blogs/<%=blogs[i].id%>"><button class="btn" style="background-color: blue; color: white;">Explore</button></a>
                <!-- <a href="myCreation/blogs/delete/<%=blogs[i].id%>"><button class="btn">Delete</button></a> -->
                <div style="text-align: right;">
                    <em class="authorName" ><%= "~" + blogs[i].authorName%></em>
                </div>
            </div>
        </div>
    <%}%>
<% } %>

</body>
</html>